@import url("/default.css");

b {
        color: var(--text);
}

#top-section {
        display: flex;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
}

#user-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
}

.icon-tabler-user {
        color: var(--text);
}

#user-id,
#edit-button,
#username {
        text-align: center;
}

#holder-div {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        justify-content: center;
}

.input-group {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-bottom: 1rem;
}

.input-group label {
        white-space: nowrap;
}

#bio {
        text-align: center;
        margin-right: 2rem;
        margin-left: 2rem;
}
