@import url("https://cdn.jsdelivr.net/npm/@catppuccin/palette/css/catppuccin.css");

:root {
        --hard-shadow: 0px 4px 4px #00000030, 0px 12px 12px #00000015;
        --soft-shadow: 0px 12px 12px #00000015;
        --transition: 0.3s ease in out;
}

:root {
        --bg-dark: var(--ctp-mocha-mantle);
        --bg: var(--ctp-mocha-base);
        --bg-light: var(--ctp-mocha-surface0);
        --text: var(--ctp-mocha-text);
        --text-muted: var(--ctp-mocha-subtext1);
        --highlight: var(--ctp-mocha-sky);
        --border: var(--ctp-mocha-sapphire);
        --border-muted: var(--ctp-mocha-blue);
        --primary: var(--ctp-mocha-sky);
        --secondary: var(--ctp-mocha-mauve);
        --danger: var(--ctp-mocha-red);
        --warning: var(--ctp-mocha-yellow);
        --success: var(--ctp-mocha-green);
        --info: var(--ctp-mocha-blue);
}
body.light {
        --bg-dark: var(--ctp-latte-crust);
        --bg: var(--ctp-latte-mantle);
        --bg-light: var(--ctp-latte-base);
        --text: var(--ctp-latte-text);
        --text-muted: var(--ctp-latte-subtext1);
        --highlight: var(--ctp-latte-sky);
        --border: var(--ctp-latte-sapphire);
        --border-muted: var(--ctp-latte-blue);
        --primary: var(--ctp-latte-sky);
        --secondary: var(--ctp-latte-peach);
        --danger: var(--ctp-latte-red);
        --warning: var(--ctp-latte-yellow);
        --success: var(--ctp-latte-green);
        --info: var(--ctp-latte-blue);
}
