:root {
        --hard-shadow: 0px 4px 4px #00000030, 0px 12px 12px #00000015;
        --soft-shadow: 0px 12px 12px #00000015;
        --transition: 0.3s ease in out;
}

:root {
        /* hsl (fallback color) */
        --bg-dark: hsl(197 100% 1%);
        --bg: hsl(190 100% 2%);
        --bg-light: hsl(187 100% 4%);
        --text: hsl(186 100% 84%);
        --text-muted: hsl(186 56% 58%);
        --highlight: hsl(184 100% 17%);
        --border: hsl(185 100% 10%);
        --border-muted: hsl(186 100% 6%);
        --primary: hsl(186 56% 58%);
        --secondary: hsl(5 68% 74%);
        --danger: hsl(9 53% 66%);
        --warning: hsl(51 35% 50%);
        --success: hsl(149 34% 54%);
        --info: hsl(217 59% 67%);
        /* oklch */
        --bg-dark: oklch(0.1 0.05 205);
        --bg: oklch(0.15 0.05 205);
        --bg-light: oklch(0.2 0.05 205);
        --text: oklch(0.96 0.1 205);
        --text-muted: oklch(0.76 0.1 205);
        --highlight: oklch(0.5 0.1 205);
        --border: oklch(0.4 0.1 205);
        --border-muted: oklch(0.3 0.1 205);
        --primary: oklch(0.76 0.1 205);
        --secondary: oklch(0.76 0.1 25);
        --danger: oklch(0.7 0.1 30);
        --warning: oklch(0.7 0.1 100);
        --success: oklch(0.7 0.1 160);
        --info: oklch(0.7 0.1 260);
}
body.light {
        /* hsl (fallback color) */
        --bg-dark: hsl(186 72% 85%);
        --bg: hsl(186 100% 90%);
        --bg-light: hsl(186 100% 96%);
        --text: hsl(194 100% 2%);
        --text-muted: hsl(185 100% 10%);
        --highlight: hsl(186 100% 90%);
        --border: hsl(185 82% 34%);
        --border-muted: hsl(186 49% 50%);
        --primary: hsl(185 100% 10%);
        --secondary: hsl(2 46% 31%);
        --danger: hsl(8 40% 42%);
        --warning: hsl(52 82% 24%);
        --success: hsl(154 58% 29%);
        --info: hsl(217 42% 43%);
        /* oklch */
        --bg-dark: oklch(0.92 0.05 205);
        --bg: oklch(0.96 0.05 205);
        --bg-light: oklch(1 0.05 205);
        --text: oklch(0.15 0.1 205);
        --text-muted: oklch(0.4 0.1 205);
        --highlight: oklch(1 0.1 205);
        --border: oklch(0.6 0.1 205);
        --border-muted: oklch(0.7 0.1 205);
        --primary: oklch(0.4 0.1 205);
        --secondary: oklch(0.4 0.1 25);
        --danger: oklch(0.5 0.1 30);
        --warning: oklch(0.5 0.1 100);
        --success: oklch(0.5 0.1 160);
        --info: oklch(0.5 0.1 260);
}
