@import url("https://cdn.jsdelivr.net/npm/@catppuccin/palette/css/catppuccin.css");

:root {
        --hard-shadow: 0px 4px 4px #00000030, 0px 12px 12px #00000015;
        --soft-shadow: 0px 12px 12px #00000015;
        --transition: 0.3s ease in out;
        --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
}

:root {
        --bg-dark: var(--ctp-mocha-mantle);
        --bg: var(--ctp-mocha-base);
        --bg-light: var(--ctp-mocha-surface0);
        --text: var(--ctp-mocha-text);
        --text-muted: var(--ctp-mocha-subtext1);
        --highlight: var(--ctp-mocha-sky);
        --border: var(--ctp-mocha-sapphire);
        --border-muted: var(--ctp-mocha-blue);
        --primary: var(--ctp-mocha-sky);
        --secondary: var(--ctp-mocha-mauve);
        --danger: var(--ctp-mocha-red);
        --warning: var(--ctp-mocha-yellow);
        --success: var(--ctp-mocha-green);
        --info: var(--ctp-mocha-blue);
}
[data-theme="mocha"] {
        --bg-dark: var(--ctp-mocha-mantle);
        --bg: var(--ctp-mocha-base);
        --bg-light: var(--ctp-mocha-surface0);
        --text: var(--ctp-mocha-text);
        --text-muted: var(--ctp-mocha-subtext1);
        --highlight: var(--ctp-mocha-sky);
        --border: var(--ctp-mocha-sapphire);
        --border-muted: var(--ctp-mocha-blue);
        --primary: var(--ctp-mocha-sky);
        --secondary: var(--ctp-mocha-mauve);
        --danger: var(--ctp-mocha-red);
        --warning: var(--ctp-mocha-yellow);
        --success: var(--ctp-mocha-green);
        --info: var(--ctp-mocha-blue);
}
[data-theme="latte"] {
        --bg-dark: var(--ctp-latte-crust);
        --bg: var(--ctp-latte-mantle);
        --bg-light: var(--ctp-latte-base);
        --text: var(--ctp-latte-text);
        --text-muted: var(--ctp-latte-subtext1);
        --highlight: var(--ctp-latte-sky);
        --border: var(--ctp-latte-sapphire);
        --border-muted: var(--ctp-latte-blue);
        --primary: var(--ctp-latte-sky);
        --secondary: var(--ctp-latte-peach);
        --danger: var(--ctp-latte-red);
        --warning: var(--ctp-latte-yellow);
        --success: var(--ctp-latte-green);
        --info: var(--ctp-latte-blue);
}
[data-theme="sapphire"] {
        --bg-dark: oklch(0.1 0.05 205);
        --bg: oklch(0.15 0.05 205);
        --bg-light: oklch(0.2 0.05 205);
        --text: oklch(0.96 0.1 205);
        --text-muted: oklch(0.76 0.1 205);
        --highlight: oklch(0.5 0.1 205);
        --border: oklch(0.4 0.1 205);
        --border-muted: oklch(0.3 0.1 205);
        --primary: oklch(0.76 0.1 205);
        --secondary: oklch(0.76 0.1 25);
        --danger: oklch(0.7 0.1 30);
        --warning: oklch(0.7 0.1 100);
        --success: oklch(0.7 0.1 160);
        --info: oklch(0.7 0.1 260);
}
[data-theme="hacker"] {
        --bg-dark: #000;
        --bg: #010;
        --bg-light: #020;
        --text: #0f0;
        --text-muted: #0b0;
        --highlight: oklch(0.5 0.19 149);
        --border: oklch(0.4 0.19 149);
        --border-muted: oklch(0.3 0.19 149);
        --primary: #0f8;
        --secondary: #ef0;
        --danger: #f00;
        --warning: #ff0;
        --success: #0f0;
        --info: #00f;
}
[data-theme="grape"] {
        --bg-dark: oklch(0.15 0.065 313);
        --bg: oklch(0.2 0.065 313);
        --bg-light: oklch(0.25 0.065 313);
        --text: oklch(0.96 0.1 313);
        --text-muted: oklch(0.76 0.1 313);
        --highlight: oklch(0.5 0.13 313);
        --border: oklch(0.4 0.13 313);
        --border-muted: oklch(0.3 0.13 313);
        --primary: oklch(0.76 0.13 313);
        --secondary: oklch(0.76 0.13 50);
        --danger: oklch(0.7 0.13 30);
        --warning: oklch(0.7 0.13 100);
        --success: oklch(0.7 0.13 160);
        --info: oklch(0.7 0.13 260);
}
[data-theme="parchment"] {
        --bg-dark: oklch(0.92 0.065 88);
        --bg: oklch(0.96 0.065 88);
        --bg-light: oklch(1 0.065 88);
        --text: oklch(0.15 0.13 88);
        --text-muted: oklch(0.4 0.13 88);
        --highlight: oklch(1 0.13 88);
        --border: oklch(0.6 0.13 88);
        --border-muted: oklch(0.7 0.13 88);
        --primary: oklch(0.4 0.13 88);
        --secondary: oklch(0.4 0.13 268);
        --danger: oklch(0.5 0.13 30);
        --warning: oklch(0.5 0.13 100);
        --success: oklch(0.5 0.13 160);
        --info: oklch(0.5 0.13 260);
}
[data-theme="nord"] {
        --bg-dark: #2e3440;
        --bg: #3b4252;
        --bg-light: #434c5e;
        --text: #eceff4;
        --text-muted: #d8dee9;
        --highlight: #88c0d0;
        --border: #81a1c1;
        --border-muted: #5e81ac;
        --primary: #88c0d0;
        --secondary: #8fbcbb;
        --danger: #bf616a;
        --warning: #ebcb8b;
        --success: #a3be8c;
        --info: #5e81ac;
}
