@import url("https://cdn.jsdelivr.net/npm/@catppuccin/palette/css/catppuccin.css");

html {
        background-color: var(--ctp-mocha-base);
        text-align: center;
}

h1 {
        color: var(--ctp-mocha-text);
        margin-top: 7%;
        margin-bottom: 0%;
        text-shadow: 3px 3px var(--ctp-mocha-overlay1);
        font-size: 4.5em;
}

h2 {
        color: var(--ctp-mocha-subtext0);
        font-size: 2.5em;
}

.landing_page_subheading_italics {
        color: var(--ctp-mocha-teal);
        text-shadow: 2px 2px 4px var(--ctp-mocha-teal);
}

.signup {
        display: block;
        margin: auto;
        margin-top: 5%;
        width: 25%;
        font-size: 2em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-top: 0.3em;
        padding-bottom: 0.3em;
        border-radius: 15px;
        color: var(--ctp-mocha-teal);
        background-color: var(--ctp-mocha-surface0);
        text-shadow: 2px 2px var(--ctp-mocha-surface1);
}

.signup:hover {
        color: var(--ctp-mocha-blue);
}

p {
        color: var(--ctp-mocha-text);
        max-width: 500px;
        padding: 20px;
}
