@import url("https://cdn.jsdelivr.net/npm/@catppuccin/palette/css/catppuccin.css");

label {
        color: var(--ctp-mocha-text);
}

.input {
        margin: auto;
        color: var(--ctp-mocha-text);
        background-color: var(--ctp-mocha-surface0);
}
