@import url("/default.css");

html {
        font-family: Inter;
        background-color: var(--dark-bg);
}

.user-info {
        font-size: 1.5em;
        color: var(--text-muted);
}

b {
        color: var(--text);
}

.user-card {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-top: 1rem;
        text-align: left;
}

.icon-tabler-user {
        color: var(--text);
}

#classes-holder {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
}

#classes-holder > div {
        flex: 1;
}

#footer {
        margin-top: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
}

#footer * {
       margin-top: 0.5rem;
       margin-bottom: 0.5rem;
       text-align: center;
}

#class-buttons {
        margin: auto;
        text-align: center;
}

#class-buttons > button {
        margin: 0.5rem;
}

#username {
        color: var(--text);
        font-weight: bold;
}

#username:hover {
        color: var(--secondary);
}
