@import url("/default.css");

html {
        font-family: Inter;
        background-color: var(--dark-bg);
}

.user-info {
        font-size: 1.5em;
        color: var(--text-muted);
}

b {
        color: var(--text);
}

.user-card {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 1rem;
        text-align: left;
        padding-left: 15%;
}

.icon-tabler-user {
        color: var(--text);
}

#classes-holder {
        display: flex;
        gap: 1rem;
}

#classes-holder > div {
        flex: 1;
}

#logout-text {
        text-align: center;
}
